[submodule "BIMWeb"]
	path = BIMWeb
	url = https://github.com/ashishpatill/BIMWeb.git
	branch = main
[submodule "bimrag-backend"]
	path = bimrag-backend
	url = https://github.com/ashishpatill/bimrag-backend.git
	branch = main
